@use "@styles/variables" as v; 

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: v.rem(225) v.rem(750) v.rem(225);
  grid-template-areas: 
    "left   header right"
    "left   main   aside "
    "footer footer footer";
  font-size: v.rem(16);
  margin-left: auto;
  margin-right: auto;
  width: v.rem(1200);
  max-width: none;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);

  @include v.mq(xl) {
    grid-template-columns: auto v.rem(750) v.rem(225);
    width: 100%;
  }

  @include v.mq(lg) {
    grid-template-columns: auto auto auto;
  }

  @include v.mq(md) {
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: 
      "header header"
      "main   main  "
      "aside  aside "
      "footer footer";
  }
}