.header {
  grid-area: header;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 10;
  padding: 10px 10px;
  background: var(--color--main);
  align-items: center;
}