.header {
  grid-area: header;
  width: 100%;
  padding: 10px 10px;
  background: var(--color--main);
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  
  h1 {
    cursor: pointer;
  }
}